/*Main.jsx*/
html {
  background: #232323;
}
main {
  background: #232323;
  text-align: center;
}

/*header.jsx */

.header h1{
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 3vh;
  text-align: center;
}
.App li{
  text-decoration: none;
  text-align: center;
  margin: 5vh;
  margin-top: 0vh;
}
.App a{
  color: lightgray;
  text-decoration: none;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-left: -6vh;
}
.App a:hover{
  color: grey;
  text-decoration: none;

}
/* Title_co.jsx */

.title h1 {
  font-size: 400%;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background: #232323;
  color: rgb(196, 196, 196);
  transition: 0.3;
  margin: auto;
}
.title #toptitle {
  margin-top: 9.5vh;
  opacity: 0;
  animation: op1 6s;
}
.title #atitle{
    animation: op1 6s;
    animation-delay: 1s;
    opacity: 0;
}
@media (max-width: 990px) {
  .navbar {
    opacity: 0;
  }
}
@keyframes op1 {
  0% {
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  50%{
      opacity: 1;
  }
  75%{
    opacity: 0;
  }
  
}

.info{
  font-size: 100%;
  background-color: #232323;
  position: fixed;
  color: aliceblue;
  max-width: max-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.info p,h1{
  margin-top: 4vh;
  margin-left: 170px;
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 19vh;
}
.motivation{
  color: aliceblue;
  background-color: #232323;
  padding-bottom: 3%;
}
.table table{
  text-align: center;
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  background-color: #232323;
  margin-left: 25%;
  width: max-content;
}
.table td{
  vertical-align: middle;
}

.abstract{
  color: aliceblue;
  background-color: #232323;
  padding-bottom: 3%;
}
